@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* border: 1px solid black; */
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(164,62,27);
    background: linear-gradient(90deg, rgba(164,62,27,1) 0%, rgba(209,209,209,1) 52%, rgba(68,120,112,1) 100%);
    padding: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-div {
    background-color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    padding: 30px;
}

.header_section {
    padding: 5px 50px 5px;
}

.header_section h1 {
    color: rgb(203, 62, 14);
    font-size: 35pt;
}

.body_section {
    display: grid;
    grid-template-columns: 1fr 500px;
    justify-content: space-around;
}

.table_section {
    border-right: 2px solid rgb(0, 0, 0, 0.3);
    padding-right: 30px;
    padding-left: 20px;
    /*width: 130%;*/
}

.table_section .search_section form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
}

.search_section {
    padding: 50px 5px 50px;
}

.search_section * {
    display: flex;
    align-items: center;
}

.search_box input {
    width: 250px;
    border-radius: 5px;
    padding: 6px 10px 6px;
    outline: none;
    border: none;
    background-color: rgb(209, 209, 209);
    font-weight: bold;
}

.search_button {
    padding-left: 10px;
}

.search_button input {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 20px 6px;
    border: none;
    background-color: rgb(203, 62, 14);
    color: rgb(245, 245, 245);
}

.table_data_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 20px;
}

.table_data_section table {
    width: 100%;
    height: auto;
    text-align: center;
}

.table_data_section table tr,
th,
td {
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(167, 163, 163);
}

/*.button_remove {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 2px 10px 2px;
    color: whitesmoke;
    font-size: 14pt;
}*/

.button_group_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.button_group_section div {
    border-radius: 5px;
    padding: 5px 10px 5px;
    margin: 5px;
    width: 100%;
    word-wrap: break-word;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(68, 120, 112);
    border: none;
    color: whitesmoke;
    font-size: 15pt;
}