<!-- <%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%> -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inventory</title>
<link rel="stylesheet" href="../../style/inventory/inventory_main_page.css">
</head>
<body>
	<!-- Header Section -->
	<div class="header_section">
		<h1>INVENTORY</h1>
	</div>
	
	<div class="body_section">
		<!-- Table Section -->
		<div class="table_section">
			<div class="search_section">
				<form action="#">
                    <div class="search_box">
                        <input type="text" id="searchService">
                    </div>
                    <div class="search_button">
                        <input type="submit" value="Search" id="searchButton">
                    </div>
                </form>
			</div>
			<div class="table_data_section">
				<table>
					<tr>
                        <th>ITEM NAME</th>
                        <th>QUANTITY</th>
                        <th></th>
                    </tr>
					<div>
						<tr>
							<td>Car Wash Liquid</td>
							<td>100</td>
							<td>
								<div class="button_remove">
									<input type="button" value="REMOVE">
								</div>
							</td>
						</tr>
						<tr>
							<td>Coolant</td>
							<td>100</td>
							<td>
								<div class="button_remove">
									<input type="button" value="REMOVE">
								</div>
							</td>
						</tr>
						<tr>
							<td>Engine Oil</td>
							<td>100</td>
							<td>
								<div class="button_remove">
									<input type="button" value="REMOVE">
								</div>
							</td>
						</tr>
						<tr>
							<td>Tire</td>
							<td>100</td>
							<td>
								<div class="button_remove">
									<input type="button" value="REMOVE">
								</div>
							</td>
						</tr>
						<tr>
							<td>Coolant</td>
							<td>100</td>
							<td>
								<div class="button_remove">
									<input type="button" value="REMOVE">
								</div>
							</td>
						</tr>
						<tr>
							<td>Engine Oil</td>
							<td>100</td>
							<td>
								<div class="button_remove">
									<input type="button" value="REMOVE">
								</div>
							</td>
						</tr>
					</div>
				</table>
			</div>
		</div>
		<div class="button_group_section">
			<div class="button_group">
				<div class="addinventory_button">
					<input type="button" value="Add Inventory">
				</div>
				<div>
					<input type="button" value="Item Details">
				</div>
			</div>
		</div>
	</div>

</body>
</html>