<!-- <%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%> -->

<!DOCTYPE html>
<html>
<head>	
    <script src="https://kit.fontawesome.com/66bf06966e.js" crossorigin="anonymous"></script>
<meta charset="ISO-8859-1">
<title>Billing</title>
<link rel="stylesheet" href="../../style/payment/main.css">
</head>
<body>
    <div class="main-container">
        
        <!-- Header Section -->
        <div class="header">
            <div class="topic">BILLING</div>
            <div class="add-services-container">
                <button name="addServicesBtn">Add Services</button>
            </div>
        </div>

        <!-- Body Section -->
        <div class="body-section">
            <div class="search-section">
                <form action="searchServlet" method="post">
                    <div class="search-box">
                        <input type="text" name="searchText" placeholder="Search Services">
                    </div>
                    <div class="search-button">
                        <input type="submit" name="searchButton" value="Search">
                    </div>
                </form>
            </div>
            <div class="table-section">
                <table>
                    <tr>
                        <th>SERVICE</th>
                        <th>DISCOUNT</th>
                        <th>TOTAL</th>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </table>
            </div>
            <div class="services-section">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</body>
</html>