@charset "ISO-8859-1";

* {
    transition: 0.3s;
    /* border: 1px solid black; */
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
    padding: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(118, 45, 20);
    background: linear-gradient(90deg, rgb(118, 45, 20) 0%, rgb(56, 98, 92) 100%);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 1px 1px 50px rgb(0, 0, 0, 0.7);
    padding: 20px;
}


/* Header Section*/

.main-container .header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}

.header div {
    display: flex;
    align-items: center;
    width: 30vw;
}

.header .topic {
    font-weight: bold;
    font-size: 30pt;
    color: rgb(190, 54, 8);
    padding-left: 30px;
}

.header .add-services-container {
    justify-content: right;
}

.header .add-services-container button {
    border: none;
    border-radius: 3px;
    padding: 5px 10px 5px;
    cursor: pointer;
    background-color: rgb(190, 54, 8);
    color: white;
}

.header .add-services-container button:hover {
    background-color: rgb(171, 43, 0);
}

/* Body Section */

.body-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.search-section {
    grid-column: 1/span 2;
    display: flex;
}

.search-box {}

.search-button {
    flex: 1;
}