@charset "ISO-8859-1";

* {
    /* border: 1px solid black; */
    transition: 0.3s;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 5px;
    padding: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.header-section {
    padding: 5px 50px 5px;
}

.header-section h1 {
    color: rgb(203, 62, 14);
    font-size: 35pt;
}

.body-section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-around;
}

.table-section {
    border-right: 2px solid rgb(0, 0, 0, 0.3);
    padding-right: 20px;
}

.table-section .search-section form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
}

.search-section {
    padding: 50px 5px 50px;
}

.search-section * {
    display: flex;
    align-items: center;
}

.search-box input {
    width: 250px;
    border-radius: 5px;
    padding: 6px 10px 6px;
    outline: none;
    border: none;
    background-color: rgb(209, 209, 209);
    font-weight: bold;
}

.search-button {
    padding-left: 10px;
}

.search-button input {
    cursor: pointer;
    border-radius: 5px;
    padding: 6px 20px 6px;
    border: none;
    background-color: rgb(203, 62, 14);
    color: rgb(245, 245, 245);
}

.data-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 20px;
}

.data-section table {
    width: 100%;
    height: auto;
    text-align: center;
}

.data-section table tr,
th,
td {
    padding: 10px;
    border-radius: 2px;
    background-color: rgb(167, 163, 163);
}

.generate-invoice-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 10px;
}

.generate-invoice-section button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(59, 59, 144);
    padding: 10px 30px 10px;
    color: whitesmoke;
    font-size: 14pt;
}

.generate-invoice-section button:hover {
    background-color: rgb(203, 62, 14);
}

/* Services Section */
.services-section {
    padding-left: 30px;
}

.services-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: left;
    align-items: center;
    padding: 30px 5px 30px;
}

.services-header .topic h2 {
    color: rgb(201, 77, 77);
    padding-right: 25px;
}

.services-header .add-button i {
    cursor: pointer;
    color: rgb(10, 10, 159);
    font-size: 18pt;
}

.service-cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    grid-gap: 10px;
    overflow-y: scroll;
    height: 50%;
    padding: 10px;
    scroll-behavior: smooth;
}

.service-cards::-webkit-scrollbar {
    width: 5px;
    padding: 2px;
}

.service-cards::-webkit-scrollbar-track {
    border-radius: 10px;
}

.service-cards::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.service-cards div {
    border-radius: 5px;
    padding: 5px 10px 5px;
    word-wrap: break-word;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(68, 120, 112);
    border: none;
    color: whitesmoke;
    /* font-size: 15pt; */
}

.bill-history-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 10px;
}

.bill-history-area input {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: rgb(59, 59, 144);
    padding: 10px 30px 10px;
    color: whitesmoke;
    font-size: 14pt;
}

.bill-history-area input:hover {
    background-color: rgb(203, 62, 14);
}